html, body {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

/* Force to extend the page for the height of the window */
html, body {
    height:100%;
}

.myMainContainer {
    height: 100%;
    width: 100%;

    background-color: blue;
}

#text30Days {
    height: 100%;
    width: 100%;
    padding: 3rem;

    font-size: 12rem;
}

.classAnimation {
    animation-fill-mode: forwards;
    animation: 2s;
    animation-name: technoTextAnimation;
}

@keyframes technoTextAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}